
body {
    background-color: royalblue;
    padding-top: 50px;
    
}
.jumbotron {
    margin-left: 200px;
    margin-right:200px;
    
}
h4 {
}

.question {
    font-size: 16px;
}
h3 {
    color: orange;
}
h2 {
    color: #122335;
   
}
#name {
    margin-right: 400px;
}
#submit {
    margin-top: 30px;
    width:200px;
}
/* Question text */
strong {
   font-size: 21px; 
   color: #264a70;
}
hr {
margin-right: 650px;
}

.select {
    padding-top:5px;
}